{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        {% load static %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
              integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
              crossorigin="anonymous">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <!-- Optional theme -->


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <!-- CSS / JS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
              integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Dynamic Imports -->
        {% block head %} {% endblock %}
        <link rel="stylesheet" href="{% static 'css/okr.css' %}"/>
        <!-- Fav Icon -->
        <link rel="icon" href="{% static '/icons/potion.png' %}">
        <title>ScrumEz {% block title %}{% endblock %}</title>

    </head>

    <style>


        ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(141, 154, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(85, 55, 255, 0.4);
}

    </style>

    <body>
    {% with 'container-fluid' as container %}
        <div class="header">
            <div class="{{ container }}">

                <div class="float-left">
                    <a href="{% url 'home:homepage' %}" class="logo" style="color: white !important;">
                        <span style="letter-spacing: 3px !important; font-weight: 300 !important;">ScrumEz</span>
                    </a>





                <span style="float: right">
                    {% if request.user.is_authenticated %}
                        <span style=" font-weight: 300 !important; font-family: 'Arial', serif; font-size: 14px; color: white;"
                        ><i style="color: #FFF !important;" class="fas fa-1x fa-user"></i> &nbsp;{{ user.first_name|title }} {{ user.last_name|title }}&nbsp;&nbsp;&nbsp;
                        <i style="color: #FFF !important;" class="fas fa-1x fa-project-diagram"></i> &nbsp;{{ user.profile.team|title }}
                        </span>
                         <a href="{% url 'home:logout' %}" style="margin-left: 30px">
                           <i style="color: #FFF !important;" class="fas fa-sign-out-alt"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'home:login' %}">
                            <button class="btn btn-success">Login</button>
                        </a>

                    {% endif %}

                </span>
                </div>
            </div>
        </div>

        <div class="{{ container }}" id="contents">
            <div class="row">
                <!-- Main Content Area -->
                {% block content %} {% endblock %}
            </div>
        </div>
    {% endwith %}

    <!-- User Javascript -->
    <script src="{% static 'okr/js/jquery3_21.js' %}"></script>

    <!-- Dynamic Scripts -->
    {% block script %} {% endblock %}

    </body>

    <script>


    </script>

    </html>
{% endspaceless %}