{% extends 'home/dashboard.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block secondary %}
    <html>
    <head>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

    <style>
        input[type=text] {
            width: 200px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;

        }

        /* When the input field gets focus, change its width to 100% */
        input[type=text]:focus {
            width: 74%;
        }
    </style>

    <body>

    {#    <h3 align="center"> <span style="margin-left: 8px;">Search for colleagues: <input name="searchbar" id="searchbar" size="50px"#}
    {#                                                                                     type="text"#}
    {#                                                                                     placeholder="&nbsp;Search">&nbsp;<i#}
    {#            id="searchbutton" class="fas fa-search add" style="color: #ccc"></i></span></h3>#}
    <h2 style="text-align: center; color: black"> Hi <span style="color: cornflowerblue">{{ user.first_name }}</span>,
        you have completed <span style="color: cornflowerblue">{{ user.profile.completedtasks }}</span> tasks today!
    </h2>
    <div class="section-clear" style="text-align: center;">
        <div class="row">
            <div class="col-md-12 section">
                <h2>News Feed</h2>
                <hr>
                <h3 style="text-align: center"> <span style="margin-left: 0; "><input name="searchbar" id="searchbar"
                                                                                      size="50px"
                                                                                      type="text"
                                                                                      placeholder="&nbsp;Share an update">&nbsp;<i
                        id="searchbutton" class="fas fa-check-circle add" style="color: #ccc"></i></span></h3>


            </div>
            <div class="section-clear">

                <div class="col-md-12 section">
            <span id="posts">
            {% for newsfeed in NewsFeed %}

 <div id="scrumfinal" class="col-md-12 blue-section"
                 style="color: whitesmoke; font-size: 18px; text-align: center;">
     <h2 style="color: white">"{{ newsfeed.post }}"</h2> by <b>{{ newsfeed.profile }}</b> at <b>{{ newsfeed.created }}</b><hr>
                </div>

            {% endfor %}
            </span>
                </div>

            </div>
        </div>
    </div>

    </body>
    </html>
{% endblock %}

{% block script %}
    <script language="JavaScript">
        {# Ajax Setup #}

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie != '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;

                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({

            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        {# End Ajax Setup #}

        $("#searchbar").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let search = $("#searchbar").val();
                $.ajax({
                    url: '/home/homepage/',
                    dataType: 'text',
                    type: 'post',
                    contentType: 'application/x-www-form-urlencoded',
                    data: dict = {
                        action: "post",
                        profile: "{{ user.get_full_name }}",
                        post: search,
                    },
                    success: function () {
                        $('#posts').load(document.URL + ' #posts');
                        $("#searchbar").val("");
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Oh No!");
                        console.log(errorThrown);
                    }

                });
            }
        });

        $('#searchbutton').on('click', function () {
            let search = $("#searchbar").val();
            $.ajax({
                url: '/home/homepage/',
                dataType: 'text',
                type: 'post',
                contentType: 'application/x-www-form-urlencoded',
                data: dict = {
                    action: "post",
                    profile: "{{ user.get_full_name }}",
                    post: search,
                },
                success: function () {
                    $('#posts').load(document.URL + ' #posts');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Oh No!");
                    console.log(errorThrown);
                }
            });
        });


    </script>
{% endblock %}