{% extends 'home/dashboard.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/poker.css' %}">

    <style>

        {#    div {#}
        {#    width: 30%;#}
        {#    padding-bottom: 30%; /* = width for a square aspect ratio */#}

        .square {
            float: left;
            position: relative;
            width: 20%;
            padding-bottom: 9%; /* = width for a 1:1 aspect ratio */
            margin: 0%;
            overflow: hidden;
        }

        .content {
            position: absolute;
            height: 100%; /* = 100% - 2*10% padding */
            width: 100%; /* = 100% - 2*5% padding */
            padding: 0% 2%;
        }

        .table {
            display: table;
            height: 100%;
            width: 100%;
        }

        .table-cell {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            width: 100%;
        }


    </style>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block secondary %}
    <body>
    <div class="section">
        <center><h1>Teams</h1>
            <hr>
            <h3>Create a Team <button id="greenbutton" class="btn btn-success" style=""><i style=""
                                                                                             class="fas fa-plus"></i>
                    </button>
            <hr>
                <span>Team Name <br><input type="text" id="" class="form-control" size="35" style="text-align: center"><br> Methodoly <br><input type="text" id="" class="form-control" style="text-align: center"></span></h3></center>
    </div>
    <br>
    <div>
        {% for teams in teams %}
            <div class="square">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <div class="section">
                                <center><h3><i style=" !important;"
                                               class="fas fa-1x fa-project-diagram"></i> {{ teams.teamname }}</h3>
                                </center>
                                <hr>
                                <center><h5>Agile Methodoly: <span
                                        style="color: black;">{{ teams.agilemethodology }}</span></h5></center>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}

{% block script %}
    <script language="JavaScript">

    </script>
{% endblock %}